/* =============================================================================
   Boxed Layout
   ============================================================================= */
.mrg-boxed #comments #respond, .mrg-boxed .contact-form {
  background: #fff; }
.mrg-boxed .mrg-int-header .mrg-post-header {
  margin: 15px 0 10px 0; }
.mrg-boxed #mrg-page {
  background: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }
.mrg-boxed #mrg-content, .mrg-boxed #mrg-media-box, .mrg-boxed #secondary {
  padding-top: 10px !important; }
.mrg-boxed .omega {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: 0; }
.mrg-boxed .omega:before, .mrg-boxed #footer .btm-nav, .mrg-boxed article .mrg-head-title {
  border: 0; }
.mrg-boxed #footer .btm-nav {
  border-bottom: 1px solid #111; }
.mrg-boxed .unroll {
  margin-left: 0;
  margin-right: 0; }
.mrg-boxed .untop {
  margin: 0; }
.mrg-boxed .mrg-full-header .mrg-head-title {
  margin-bottom: 15px; }
.mrg-boxed .mrg-full-header .mrg-head-title, .mrg-boxed .mrg-full-header #mrg-featured-media {
  margin-left: 20px !important;
  margin-right: 20px !important; }
.mrg-boxed #mrg-featured-area {
  margin-top: 5px; }
.mrg-boxed #mrg-media-box {
  margin-bottom: 5px; }
.mrg-boxed .border-push {
  display: none !important; }
.mrg-boxed #mrg-nav {
  border-bottom: 1px solid #eee; }
.mrg-boxed #mrg-top {
  padding: 20px 0px 30px; }
.mrg-boxed h3.pretitle span {
  padding-left: 0; }
.mrg-boxed #mrg-nav .sf-menu a {
  border-left: 1px solid #eee; }

.mrg-boxed.page-full .mrg-full-header #mrg-content {
  padding-top: 10px !important; }
